># **Data Cleaning**

In [1]:
import numpy as np
import pandas as pd

#### Importing the dataset

In [2]:
data = pd.read_csv(filepath_or_buffer="C:/Users/heman/Desktop/vehicles.csv")
data.head()

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,size,type,paint_color,image_url,description,county,state,lat,long,posting_date
0,7222695916,https://prescott.craigslist.org/cto/d/prescott...,prescott,https://prescott.craigslist.org,6000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,az,NaN,NaN,NaN
1,7218891961,https://fayar.craigslist.org/ctd/d/bentonville...,fayetteville,https://fayar.craigslist.org,11900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ar,NaN,NaN,NaN
2,7221797935,https://keys.craigslist.org/cto/d/summerland-k...,florida keys,https://keys.craigslist.org,21000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,fl,NaN,NaN,NaN
3,7222270760,https://worcester.craigslist.org/cto/d/west-br...,worcester / central MA,https://worcester.craigslist.org,1500,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ma,NaN,NaN,NaN
4,7210384030,https://greensboro.craigslist.org/cto/d/trinit...,greensboro,https://greensboro.craigslist.org,4900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,nc,NaN,NaN,NaN

#### Changing columns to lower case to make more convenient.

In [3]:
data.columns = data.columns.str.lower().str.replace(" ","_")

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 426880 entries, 0 to 426879
Data columns (total 26 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            426880 non-null  int64
 1   url           426880 non-null  object
 2   region        426880 non-null  object
 3   region_url    426880 non-null  object
 4   price         426880 non-null  int64
 5   year          425675 non-null  float64
 6   manufacturer  409234 non-null  object
 7   model         421603 non-null  object
 8   condition     252776 non-null  object
 9   cylinders     249202 non-null  object
 10  fuel          423867 non-null  object
 11  odometer      422480 non-null  float64
 12  title_status  418638 non-null  object
 13  transmission  424324 non-null  object
 14  vin           265838 non-null  object
 15  drive         296313 non-null  object
 16  size          120519 non-null  object
 17  type          334022 non-null  object
 18  paint_color   296677 non-null  object
 19  image_url     426812 non-null  object
 20  description   426810 non-null  object
 21  county        0 non-null       float64
 22  state         426880 non-null  object
 23  lat           420331 non-null  float64
 24  long          420331 non-null  float64
 25  posting_date  426812 non-null  object
dtypes: float64(5), int64(2), object(19)
memory usage: 84.7+ MB

#### Removing Unnecessory columns

In [16]:
df = data.copy()

In [17]:
df.drop(columns=["id", "url", "region", "region_url", "vin", "drive", "size", "paint_color", "image_url", "description","county", "posting_date"], inplace=True)

In [18]:
df.head()

,price,year,manufacturer,model,condition,cylinders,fuel,odometer,title_status,transmission,type,state,lat,long
0,6000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,az,NaN,NaN
1,11900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ar,NaN,NaN
2,21000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,fl,NaN,NaN
3,1500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ma,NaN,NaN
4,4900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nc,NaN,NaN

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 426880 entries, 0 to 426879
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   price         426880 non-null  int64
 1   year          425675 non-null  float64
 2   manufacturer  409234 non-null  object
 3   model         421603 non-null  object
 4   condition     252776 non-null  object
 5   cylinders     249202 non-null  object
 6   fuel          423867 non-null  object
 7   odometer      422480 non-null  float64
 8   title_status  418638 non-null  object
 9   transmission  424324 non-null  object
 10  type          334022 non-null  object
 11  state         426880 non-null  object
 12  lat           420331 non-null  float64
 13  long          420331 non-null  float64
dtypes: float64(4), int64(1), object(9)
memory usage: 45.6+ MB

In [20]:
df.drop_duplicates(inplace=True, ignore_index=True)

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 329256 entries, 0 to 329255
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   price         329256 non-null  int64
 1   year          328387 non-null  float64
 2   manufacturer  315093 non-null  object
 3   model         324960 non-null  object
 4   condition     212848 non-null  object
 5   cylinders     196268 non-null  object
 6   fuel          327360 non-null  object
 7   odometer      326580 non-null  float64
 8   title_status  324529 non-null  object
 9   transmission  327629 non-null  object
 10  type          258579 non-null  object
 11  state         329256 non-null  object
 12  lat           326337 non-null  float64
 13  long          326337 non-null  float64
dtypes: float64(4), int64(1), object(9)
memory usage: 35.2+ MB

In [22]:
df.isnull().sum()

price                0
year               869
manufacturer     14163
model             4296
condition       116408
cylinders       132988
fuel              1896
odometer          2676
title_status      4727
transmission      1627
type             70677
state                0
lat               2919
long              2919
dtype: int64

In [23]:
df = df[(df['price'] != 0) & (df['year'].notnull()) & (df['cylinders'].notnull())]

In [24]:
df.reset_index(inplace=True, drop=True)

In [25]:
df.head()

,price,year,manufacturer,model,condition,cylinders,fuel,odometer,title_status,transmission,type,state,lat,long
0,33590,2014.0,gmc,sierra 1500 crew cab slt,good,8 cylinders,gas,57923.0,clean,other,pickup,al,32.590,-85.4800
1,22590,2010.0,chevrolet,silverado 1500,good,8 cylinders,gas,71229.0,clean,other,pickup,al,32.590,-85.4800
2,39590,2020.0,chevrolet,silverado 1500 crew,good,8 cylinders,gas,19160.0,clean,other,pickup,al,32.590,-85.4800
3,30990,2017.0,toyota,tundra double cab sr,good,8 cylinders,gas,41124.0,clean,other,pickup,al,32.590,-85.4800
4,15000,2013.0,ford,f-150 xlt,excellent,6 cylinders,gas,128000.0,clean,automatic,truck,al,32.592,-85.5189

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 186263 entries, 0 to 186262
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   price         186263 non-null  int64
 1   year          186263 non-null  float64
 2   manufacturer  179233 non-null  object
 3   model         184227 non-null  object
 4   condition     146353 non-null  object
 5   cylinders     186263 non-null  object
 6   fuel          185471 non-null  object
 7   odometer      185618 non-null  float64
 8   title_status  182755 non-null  object
 9   transmission  186160 non-null  object
 10  type          164033 non-null  object
 11  state         186263 non-null  object
 12  lat           184778 non-null  float64
 13  long          184778 non-null  float64
dtypes: float64(4), int64(1), object(9)
memory usage: 19.9+ MB